{{template "base" .}}
{{define "content"}}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>О себе</h1>
            <p>Welcome to the about page</p>
        </div>
    </div>
</div>

{{end}}